flask==1.1.2
flask_wtf
email_validator
pandas>=1.0.3
wtf==0.1
wtforms>=2.2.1
Werkzeug==1.0.1
matplotlib==3.2.1
mlxtend==0.17.2
numpy>=1.18.2
pytz>=2019.3
scikit-learn>=0.22.2.post1
scipy==1.4.1
gunicorn==19.9.0
itsdangerous==1.1.0
MarkupSafe==1.1.1
